[Unit]
Description=Set {{ eth_interface }} as primary slave of bond0
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/bond-primary

[Install]
WantedBy=multi-user.target
