source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

auto bond0
iface bond0 inet static
    address {{ bond_address }}/{{ bond_prefix }}
    gateway {{ bond_gateway }}
    dns-nameservers {{ bond_gateway }}
    bond-slaves none
    bond-mode active-backup
    bond-primary {{ eth_interface }}
    bond-primary-reselect always
    bond-miimon 100
    bond-fail-over-mac 1
    bond-num-grat-arp 5

auto {{ eth_interface }}
iface {{ eth_interface }} inet manual
    bond-master bond0

allow-hotplug {{ wifi_interface }}
iface {{ wifi_interface }} inet manual
    wpa-conf /etc/wpa_supplicant/wpa_supplicant-{{ wifi_interface }}.conf
    bond-master bond0
