environments:
  default:
    values:
      - instances: ["nurlan", "agent", "rocketleague"]

---

helmDefaults:
  wait: true
  timeout: 300
  atomic: true
  createNamespace: true

---

repositories:
  - name: mojo2600
  - name: jameswynn
    url: https://jameswynn.github.io/helm-charts

---

releases:
  - name: pihole
    chart: mojo2600/pihole
    version: 2.38.0
    namespace: pihole
    values:
      - values/pihole.yaml
{{- range .Values.instances }}
  - name: am-pulsar-{{ . }}
    chart: ./charts/am-pulsar
    namespace: am-pulsar
    values:
      - values/am-pulsar/common.yaml
      - values/am-pulsar/{{ . }}.yaml
{{- end }}
  - name: overleaf
    chart: ./charts/overleaf
    namespace: overleaf
    values:
      - values/overleaf.yaml
  - name: homepage
    chart: jameswynn/homepage
    version: 2.1.0
    namespace: homepage
    values:
      - values/homepage.yaml
